
.services_section {
  background-image: url('../img/backgrounds/s_image.jpg');
}


.most_paragraphs{
  text-align: center;
}


.welcome_to_delani_studios {
background-image: url('../img/backgrounds/h_img.jpg');
background-size:auto;
background-position:center;
background-repeat: no-repeat;
}

.what_we_do {
     display: inline;
     padding: 100px;
}


.logos_what_we_do2 {
  float: right;
}



.contact_us {
  background-image: url('../img/backgrounds/c_image.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.white_color {
  color: white;
}




.picturename {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
    background-color: white;
    opacity: 0.5;
