.mouse_click_image {

}

.divlogos_landing_page {

}
.services_section {
  background-image: url('../img/backgrounds/s_image.jpg');
}


.most_paragraphs{
  text-align: center;
}


.welcome_to_delani_studios {
background-image: url('../img/backgrounds/h_img.jpg');
background-size:auto;
background-position:center;
background-repeat: no-repeat;
/* backface-visibility: visible,visible; */
/* background-size: 100%; */
}

.what_we_do {
     display: inline;
     padding: 100px;
}


.logos_what_we_do2 {
  float: right;
}

. first {

}

. text1 {

}

. clickable1 {

}

.logos_what_we_do3 {
  float: right;
}

/* .ps_at_what_we_do {
  text-align: center;
} */





.contact_us {
  background-image: url('../img/backgrounds/c_image.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
    background-color: white;
    opacity: 0.5;
